@import 'bootstrap/dist/css/bootstrap';


.center{
  text-align: center;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .7rem .3rem;
  font-size: .700rem;
  line-height: .5;
  border-radius: .2rem;
}

//removes underlines from links
a, a:link, a:hover, a:visited{ 
  text-decoration: none;
} 

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}
@each $name,$color in (default,#777),(primary,#428bca),(success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),(info,#5bc0de), (bdc,#29527a) {
  .callout-#{$name} {
    border-left-color: $color;
    h4 {
      color: $color;
    }
  }
}

